@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="text-center">Desça para ler a mensagem no fim do vídeo de 11 segundos, caso não tenha lido.</div>
<video class="w-100 h-auto object-fit-fill" autoplay>
    <source src="~/vid/knuckles.mp4" type="video/mp4" />
</video>