@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="row d-flex justify-content-center">
    <div class="rounded conted p-5 pt-2 col-10 col-sm-6 d-flex flex-column align-items-center">
        <h1 class="my-2">Cadastar</h1>
        <div class="w-100">
            <form id="account" method="post" class="w-100 d-flex flex-column">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control rounded-pill border-1 my-2 col-12" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">E-mail</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control rounded-pill border-1 my-2 col-12" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control rounded-pill border-1 my-2 col-12" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Comfirmar Senha</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="py-2 px-5 adidi rounded-pill">Criar Nova Conta</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
