@model Somativa.Models.Produto

@{
    ViewData["Title"] = "Edit";
}
<div class="row d-flex justify-content-center my-3">
    <div class="rounded conted py-3 col-10 col-sm-6">
        <h4 class="text-center">Atualizar Produto</h4>

        <div class="row d-flex justify-content-center m-2 m-sm-0">
            <div class="col-md-10">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ProdutoId" />
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label textin"></label>
                        <input asp-for="Nome" class="form-control rounded-pill border-1 my-2" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Estoque" class="control-label textin"></label>
                        <input asp-for="Estoque" class="form-control rounded-pill border-1 my-2" />
                        <span asp-validation-for="Estoque" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Preco" class="control-label textin"></label>
                        <input asp-for="Preco" type="number" class="form-control rounded-pill border-1 my-2" />
                        <span asp-validation-for="Preco" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoriaId" class="control-label textin"></label>
                        <select asp-for="CategoriaId" class="form-control rounded-pill border-1 my-2" asp-items="ViewBag.CategoriaId"></select>
                        <span asp-validation-for="CategoriaId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FornecedorId" class="control-label textin"></label>
                        <select asp-for="FornecedorId" class="form-control rounded-pill border-1 my-2" asp-items="ViewBag.FornecedorId"></select>
                        <span asp-validation-for="FornecedorId" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" value="Save" class="adidi rounded-pill me-2 my-2">Salvar</button>
                        <a asp-action="Index" class="btn volt rounded-pill my-2">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
